* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#main-container {
    margin: 20px auto;
    display: flex;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
  }

  .button {
      height: 30px;
      width: 30px;
      border-radius: 5px;
  }

  